*,
body {
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.2);
    background-color: #213451;
}

.Header-block {
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.2);
    background-color: #213451;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-logo {
    display: flex;
    justify-content: flex-start;
}

.Active {
    width: 91px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    height: 110px;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.2);
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    color: #213451;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.Header-block-item {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.Basket {
    height: 110px;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.48);
    border-radius: 0 0 5px 5px;
    background-color: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.Basket>h6 {
    color: #d0aebc;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    /* Text style for "06" */
    letter-spacing: 1.99px;
}

.Basket>p {
    color: #969696;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 300;
    /* Text style for "корзина" */
    letter-spacing: 1.2px;
}

.login {
    color: #d0aebc;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Войти" */
    letter-spacing: 1.6px;
    width: 75px;
    background: transparent;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d0aebc;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action {
    height: 1100px;
    width: 100%;
    background: url(../img/Img-1.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-main {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 700px;
}

.action-main-text h1 {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
}

.action-main-text-title {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action-main-text-title h2 {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 38px;
    font-weight: 400;
}

.action-text-subtitle {
    display: flex;
    align-items: flex-end;
    height: 20%;
}

.action-text-subtitle h3 {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.action-main-advantages {
    width: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-main-advantages:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.action-main-advantages-item {
    position: relative;
    display: flex;
    color: #fff;
    z-index: 2;
    width: 100%;
    margin-bottom: 40px;
}

.action-main-advantages-img {
    margin: 8px 10px 0px 20px;
}

.action-main-advantages-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-main-advantages-text>h3 {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;

}

.action-main-advantages-text>p {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 300;
}

.button {
    z-index: 2;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    background-color: #d98122;
    border: none;
    font-family: Ubuntu;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "к товарам" */
    letter-spacing: 1.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.goods-item {
    width: 270px;
    height: 377px;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.2);
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goods-item-name {
    width: 100%;
    height: 69px;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.2);
    border-radius: 5px 5px 0 0;
    background-color: #6e819e;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods-item-description {
    color: #646464;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
}

.goods-item-volume {
    color: #213451;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
}

.goods-item-block {
    width: 250px;
    height: 170px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5px 0px;
}

.goods-item-novelty {
    position: absolute;
    content: '';
    top: -9px;
    left: 0;
    width: 85px;
    height: 34px;
    background-color: #c43ee1;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-item-price {
    position: absolute;
    content: '';
    bottom: 8px;
    right: 0;
    width: 85px;
    height: 34px;
    background-color: #213451;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-item-hit {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 45px;
    height: 34px;
    background-color: #ff001e;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
}

.button-goods {
    width: 123px;
    height: 42px;
}

.goods-item-subtitle {
    color: #646464;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0px;
}